
<img src="/images/beer.png" alt="beer">

<button type="button" class="btn btn-outline-light"><a href="/beer">Check the Beers!</a></button>
<button type="button" class="btn btn-outline-light"><a href="/random-beer">Check the Random Beers!</a></button>


